<?xml version="1.0" encoding="utf-8"?>
<robot name="crane_robot" xmlns:xacro="http://ros.org/wiki/xacro">
   
  <xacro:include filename="$(find fpi_crane_description)/urdf/sensors.xacro"/>
  
  <!-- material definition -->
  <material name="black">
	<color rgba="0 0 0 1"/>
  </material>
  <material name="gray">
	<color rgba="0.7 0.7 0.7 1"/>
  </material>
  <material name="yellow">
	<color rgba="0.8 0.8 0 1"/>
  </material>
  <material name="orange">
	<color rgba="1 0.5 0 1"/>
  </material>   
  <!-- links -->
  <link name="base_link">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/base.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="black"/>
	</visual>
  </link>
  <link name="mast">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/mast.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="black"/>
	</visual>
  </link>				 
  <link name="mainboom">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/mainboom.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="black"/>
	</visual>
  </link>
  <link name="stick">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/stick.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="black"/>
	</visual>
  </link>
  <link name="telescope">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/telescope.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="gray"/>
	</visual>
  </link>
  <link name="upperpassive">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/upperpassive.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="gray"/>
	</visual>
  </link>
  <link name="lowerpassive">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/lowerpassive.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="gray"/>
	</visual>
  </link>
  <link name="grapplecarrier">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/grapplecarrier.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="black"/>
	</visual>
  </link>
  <link name="grappletong1">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/grappletong1.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="yellow"/>
	</visual>
  </link>
  <link name="grappletong2">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/grappletong2.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0 0 0"/>
	  <material name="yellow"/>
	</visual>
  </link>
  <link name="trailer">
	<visual>
	  <geometry>
		<mesh filename="package://fpi_crane_description/meshes/trailer.stl"/>
	  </geometry>
	  <origin rpy="0 0 0" xyz="0  0 0.625"/>
	  <material name="orange"/>
	</visual>
  </link>
  <link name="camera_zed">
	<origin xyz="0.06 -0.0335 0" rpy="0 0 3.1416"/>
  </link>
  <link name="mast_sensor_bracket"/>
  <link name="grappletong1_tip"/>
  <link name="grappletong2_tip"/>
  <!-- joints -->
  <joint name="slew_joint" type="revolute">
	<parent link="base_link"/>
	<child link="mast"/>
	<origin xyz="0 0 0.26881"/>
	<axis rpy="0 0 0" xyz="0 0 1"/>
	<limit effort="500.0" lower="-1.74533" upper="1.74533" velocity="0.1745"/>
  </joint>
  <joint name="boom_joint" type="revolute">
	<parent link="mast"/>
	<child link="mainboom"/>
	<origin xyz="0 -0.0601374 1.09553"/>
	<axis rpy="0 0 0" xyz="1 0 0"/>
	<limit effort="500.0" lower="-0.383972" upper="1.309" velocity="0.1745"/>
  </joint>
  <joint name="stick_joint" type="revolute">
	<parent link="mainboom"/>
	<child link="stick"/>
	<origin xyz="0 3.04904 -0.00649"/>
	<axis rpy="0 0 0" xyz="1 0 0"/>
	<limit effort="500.0" lower="-3.08574" upper="0.035" velocity="0.1745"/>
  </joint>
  <joint name="telescope_joint" type="prismatic">
	<parent link="stick"/>
	<child link="telescope"/>
	<origin xyz="0 0.1256771629 0.21905106705"/>
	<axis rpy="0 0 0" xyz="0 0.997833966 -0.065782793"/>	
	<limit effort="500.0" lower="0.13" upper="1.8" velocity="0.1"/>
  </joint>
  <joint name="hanger_joint" type="revolute">
	<parent link="telescope"/>
	<child link="upperpassive"/>
	<origin xyz="0 2.03711 -0.20229"/>
	<axis rpy="0 0 0" xyz="1 0 0"/>
	<limit effort="500.0" lower="-3.14159" upper="3.14159" velocity="0.1745"/>
  </joint>
  <joint name="bearingfork_joint" type="revolute">
	<parent link="upperpassive"/>
	<child link="lowerpassive"/>
	<origin xyz="0 0 -0.154"/>
	<axis rpy="0 0 0" xyz="0 1 0"/>
	<limit effort="500.0" lower="-3.14159" upper="3.14159" velocity="0.1745"/>
  </joint>
  <joint name="grapplecarrier_joint" type="revolute">
	<parent link="lowerpassive"/>
	<child link="grapplecarrier"/>
	<origin xyz="0 0 -0.261"/>
	<axis rpy="0 -1.22173 0" xyz="0 0 1"/>
	<limit effort="500.0" lower="-3.1241" upper="3.1241" velocity="0.1745"/>
  </joint>
  <joint name="grappletong1_joint" type="revolute">
	<parent link="grapplecarrier"/>
	<child link="grappletong1"/>
	<origin xyz="-0.275000000000001 -0.0192847891741644 -0.202"/>
	<axis rpy="0 0 0" xyz="0 -1 0"/>
	<limit effort="500.0" lower="0" upper="2.23402" velocity="0.1745"/>
  </joint>
  <joint name="grappletong2_joint" type="revolute">
	<parent link="grapplecarrier"/>
	<child link="grappletong2"/>
	<origin xyz="0.275000000000001 -0.0192847891741644 -0.202"/>
	<axis rpy="0 0 0" xyz="0 1 0"/>
	<limit effort="500.0" lower="0" upper="2.23402" velocity="0.1745"/>
  </joint>
  <joint name="trailer_joint" type="fixed">
	<parent link="base_link"/>
	<child link="trailer"/>
	<origin rpy="-0.010472 0.0191986 0" xyz="0 2.5525 -1.39"/>
  </joint>  
  <joint name="camera_zed_joint" type="fixed">
	<parent link="stick"/>
	<child link="camera_zed"/>
	<origin rpy="0 0 0"  xyz="0 0.37 0.03"/>
  </joint>
  <joint name="mast_sensor_bracket_joint" type="fixed">
	<parent link="mast"/>
	<child link="mast_sensor_bracket"/>
	<origin rpy="0 0 0"  xyz="0 0 0"/>
  </joint>
  <joint name="grappletong1_tip_joint" type="fixed">
	<parent link="grappletong1"/>
	<child link="grappletong1_tip"/>
	<origin rpy="0 0 0"  xyz="-0.458 0.02 -0.458"/>
  </joint>
  <joint name="grappletong2_tip_joint" type="fixed">
	<parent link="grappletong2"/>
	<child link="grappletong2_tip"/>
	<origin rpy="0 0 0"  xyz="0.454 0.018 -0.454"/>
  </joint>

  <xacro:zed_sensor
	name="zed_1"
	parent="camera_zed"
	xyz="0 0 0"
	rpy="3.14 0 1.57"
  />
  <xacro:ouster_lidar_sensor
	name="lidar_0"
	parent="mast_sensor_bracket"
	xyz="0 0 1"
	rpy="0 0 0"
  />
  <xacro:zed_sensor
	name="zed_0"
	parent="lidar_0/os_sensor"
	xyz="0 0 0"
	rpy="0 0 0"
  />

</robot>
